body{
    margin-top: 6em;
    margin-left: 6em;
}
div{
    display: flex;
    justify-content: space-between;
}
p{
    padding:3em 5em 3em 5em;
}
#montexte{
    width: 200px;
    height: 150px;
    border: 2px;
    border-style: solid;
    border-color: black;
    background-color: orange;
    transition-duration: 5s;
}
img{
    width: 200px;
    height: 150px;
}
#montexte:hover{
    transition-duration: 5s;
    background-color: blue;
    border:5px;
    border-color: red;
    border-style: solid;
    color: white;
}
#img1:hover{
    rotate: -3deg;
    transform: scale(1.5);
}
#img2:hover{
    rotate:5deg;
    transform: scale(1.5);
}
#img3:hover{
    rotate:-7deg;
    transform: scale(1.5);
}
#img4:hover{
    rotate:2deg;
    transform: scale(1.5);
}
#img5{
    animation-name: anim;
    animation-duration: 5s;
}
@keyframes anim{
    0%{opacity: 1;}
    25%{opacity: 0,75;}
    50%{opacity: 0.5;}
    75%{opacity: 0.25;}
    100%{opacity: 0;}
}